{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center>
        <h1 align="center">HII FRIENDS</h1>
        <img src="{% static 'images/walpaper.jpg' %}" alt="image not found" height="250px" width="350px">
        <a href="https://www.youtube.com/"><button>click here</button></a>
    </center>
</body>
</html>